useDynLib(mrwin, .registration = TRUE)
importFrom(Rcpp, sourceCpp)
S3method(plot,mrwin_fit)
S3method(print,mrwin_fit)
S3method(print,mrwin_benchmark)
S3method(print,mrwin_parity_check)
S3method(print,mrwin_simulation_grid)
S3method(print,mrwin_validated_data)
S3method(print,summary.mrwin_fit)
S3method(summary,mrwin_benchmark)
S3method(summary,mrwin_fit)
S3method(summary,mrwin_simulation_grid)
S3method(tidy,mrwin_fit)
export(mrwin)
export(mrwin_aalen_per_snp)
export(mrwin_analytic_bootstrap)
export(mrwin_analytic_covariance)
export(mrwin_analytic_inference)
export(mrwin_gwas_resample_covariance)
export(mrwin_benchmark)
export(mrwin_controls)
export(mrwin_cox_per_snp)
export(mrwin_config)
export(mrwin_doubly_ranked_strata)
export(mrwin_endpoint)
export(mrwin_estimate)
export(mrwin_fast_adjacent_win_loss)
export(mrwin_fast_pair_win_loss)
export(mrwin_gls_pool)
export(mrwin_gwas)
export(mrwin_kernel)
export(mrwin_mr_egger)
export(mrwin_multiplier_bootstrap)
export(mrwin_pair_kernel)
export(mrwin_pair_log_cwr)
export(mrwin_pair_win_loss)
export(mrwin_per_component_benchmark)
export(mrwin_pleiotropy_bounded_ci)
export(mrwin_precompute_pair_kernels)
export(mrwin_propensity_weights)
export(mrwin_prs_strata)
export(mrwin_report)
export(mrwin_run_simulation_grid)
export(mrwin_scenarios)
export(mrwin_simulate)
export(mrwin_simulation_summary)
export(mrwin_sdpd)
export(mrwin_sparse_adjacent_win_loss)
export(mrwin_sparse_bootstrap)
export(mrwin_sparse_estimate)
export(mrwin_stratum_log_cwr)
export(mrwin_stratum_win_loss)
export(mrwin_validate_data)
export(mrwin_verify_sparse_dense_parity)
export(tidy)
