S3method(plot,mrwin_fit)
S3method(print,mrwin_fit)
S3method(print,mrwin_validated_data)
S3method(print,summary.mrwin_fit)
S3method(summary,mrwin_fit)
export(mrwin)
export(mrwin_aalen_per_snp)
export(mrwin_controls)
export(mrwin_cox_per_snp)
export(mrwin_config)
export(mrwin_endpoint)
export(mrwin_estimate)
export(mrwin_gls_pool)
export(mrwin_gwas)
export(mrwin_kernel)
export(mrwin_mr_egger)
export(mrwin_multiplier_bootstrap)
export(mrwin_pleiotropy_bounded_ci)
export(mrwin_prs_strata)
export(mrwin_simulate)
export(mrwin_stratum_log_cwr)
export(mrwin_stratum_win_loss)
export(mrwin_validate_data)
